@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #0A3871;
}

.grid_container > *, .main > *, .main__botones > * {
    /* -- Aydua visual -- */
    /* border: solid 5px red; /* MARGEN */
    border-radius: 5px;
    /* ----------------- */

}

    .grid_container {
        --margenes: 0px;
        background-color: #F3F5FC;

        display: grid;
        grid-template:
        "header" 96px
        "main"
        "footer" auto;

        .header {
            grid-area: header;
            /* background-color: blue; */

            .header__logo {
                margin: 24px 0 24px -15px;
            }
        }

        .main {
            grid-area: main;
            width: 100%;
            /* background-color: orange; */

            .main__textoUsuario {
                /* Tamaño de caja */
                max-width: 100%;
                width: calc(100% - 36px);
                height: 35vh;

                /* Fuente */
                font-family: "Inter", sans-serif;
                color: #0A3871;
                font-weight: 400;
                line-height: 48px;
                font-size: 32px;

                background-color: #F3F5FC;
                display: inline-block;
                
                border: none;
                resize: none;
                margin: 56px 16px;


                &::placeholder {
                    color: #0A3871;
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    line-height: 48px;
                    font-size: 32px;
                }

                &:focus {
                    outline: none;
                }
            }

            .main__mensaje {
                display: flex;
                align-items: center;
                height: 18px;
                margin: 0 16px 16px 16px;

                .mainMensaje__exclamacion {
                    margin-right: 8px;
                    width: 12px;
                    font-weight: 400;
                    line-height: 18px;
                }

                & > p {
                    font-size: 12px;
                }
            }

            .main__botones > * {
                border-radius: 24px;
                width: 100%;
                height: 67px;

            }
                .main__botones {
                    height: 158px;
                    margin: 0 16px;

                    .mainBotones__encriptar {
                        color: #FFFFFF;
                        grid-area: encriptar;
                        background-color: #0A3871;
                        margin-bottom: 24px;
                        border: none;
                    }

                    .mainBotones__desencriptar {
                        grid-area: desencriptar;
                        background-color: #F3F5FC;
                        border: solid 1px #0A3871;
                        color: #0A3871;
                    }

                }
        }

        .texto_salida {
            grid-area: footer;
            background-color: #FFFFFF;
            border-radius: 32px;
            margin: 40px 24px;
            box-shadow: 0px 24px 32px -8px #00000014;

            .textoSalida__aviso {
                padding: 32px;
                text-align: center;

                & > img {
                    display: none;
                }

                .textoSalidaAviso__uno {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28.8px;
                    color: #343A40;

                    margin-bottom: 16px;
                }

                .textoSalidaAviso__dos {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #495057;
                }
            }

            .textoSalida__mensaje {
                height: 100%;
                display: none;
                flex-wrap: wrap;

                & > p {
                    margin: 32px;
    
                    /* Estilo de fuente */
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 36px;
                }

                & > input {
                    width: calc(100% - 64px);
                    height: 67px;

                    border-radius: 24px;
                    border: solid 1px #0A3871;
                    margin: 0 32px 32px 32px;

                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19.36px;
                    color: #0A3871;
                    background-color: #FFFFFF;

                }
            }
        }
    }

    @media (min-width: 768px) {
        .grid_container {
            .header {
                .header__logo {
                    margin: 73px 0 0 0;
                }
            }

            .main {
                .main__textoUsuario {
                    margin: 116px 40px;
                    width: calc(100% - 89px);
                }

                .main__mensaje {
                    margin: 16px 40px;
                }

                .main__botones {
                    display: flex;
                    margin: 0px 40px;
                    height: 67px;

                    .mainBotones__encriptar {
                        margin-right: 24px;
                    }
                }
            }

            .texto_salida {
                margin: 40px;
            }
        }
    }

    @media (min-width: 992px) {
        .grid_container {
            height: 100%;
            grid-template:
            "header footer" 96px
            "main footer" 
            "main footer" calc(100vh - 96px) /
            66vw auto;

            .header {
                grid-area: header;
                /* background-color: blue; */
    
                .header__logo {
                    margin-top: 40px;
                }
            }

            .main {
                height: 100%;
                width: 97%;
                margin: 0 100px 0 100px;
                
                .main__textoUsuario {
                    margin: 5vh 0 0 0;
                    height: 60vh;
                }

                .main__mensaje {
                    margin: 16px 0 16px 0;
                }

                .main__botones {
                    margin: 0 80px 40px 0;

                    .mainBotones__encriptar {
                        margin: 0 24px 0 0;

                        &:hover {
                            background-color: #082a53;
                        }
                    }

                    .mainBotones__desencriptar {
                        &:hover {
                            background-color: #cad3f0;
                        }
                    }
                }
            }

            .texto_salida {
                display: flex;
                align-items: center;
                justify-content: center;

                .textoSalida__aviso > img {
                    display: block;
                    width: 100%;
                }

                .textoSalida__mensaje {
                    display: none;
                    align-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    
                    & > p {
                        width: 100%;
                    }

                    & > input:hover {
                        background-color: #cad3f0;
                    }
                }
            }
        }
    }