@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #0A3871;
    max-height: 100dvh;
    max-width: 100dvw;

    /* ----- Estilos de prueba ----- */
    font-size: 1.2rem;
    /* ----------------------------- */
}

.grid_container > *, .main > *, .main__botones > * {
    /* -- Aydua visual -- */
    border: solid 5px red; /* MARGEN */
    border-radius: 5px;
    /* ----------------- */

}

    .grid_container {
        --margenes: 0px;
        height: 100dvh;

        display: grid;
        grid-template:
            "header" minmax(calc(5dvh - var(--margenes)), 96px)
            "main" 70%
            "footer" auto;

        .header {
            grid-area: header;
            background-color: blue;
        }

        .main {
            grid-area: main;
            background-color: orange;

            display: grid;
            grid-template:
            "texto_usuario" auto
            "mensaje" 18px
            "botones" 158px;

            .main__mensaje {
                background-color: violet;
                display: flex;
                align-items: center;

                .mainMensaje__exclamacion {
                    margin-right: 8px;
                }
            }

            .main__botones {
                background-color: pink;

                .mainBotones__encriptar {
                    background-color: aqua;
                    height: 50%;
                    width: 100%;
                }

                .mainBotones__desencriptar {
                    background-color: antiquewhite;
                    height: 50%;
                    width: 100%;
                }

            }
        }

        .texto_salida {
            grid-area: footer;
            background-color: #FFFFFF;
            border-radius: 32px;
            margin: 40px 24px;
            box-shadow: 0px 24px 32px -8px #00000014;

            .textoSalida__aviso {
                text-align: center;
                padding: 32px;

                .textoSalidaAviso__uno {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28.8px;
                    color: #343A40;

                    margin-bottom: 16px;
                }

                .textoSalidaAviso__dos {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #495057;
                }
            }
        }
    }

    @media (min-width: 768px) {

    }